* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto' 'sans-serif';
    box-sizing: border-box;
}

body {
    background-color: #eeee;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #eeee;
    padding: 17px;
    box-shadow: 0px 2px 2px rgb(180, 179, 179);
}

nav .logo {
    font-size: 20px;
    margin-left: 22px;
}

ul {
    margin-right: 45px;
    margin-top: 7px;
}

ul li a:hover {
    border-bottom: 2px solid rgb(3, 157, 157);
    cursor: pointer;
    color: rgb(4, 131, 131);
}

ul li i:hover {
    color: gray;
    cursor: pointer;
}

ul li #home {
    color: rgb(5, 169, 169);
}

nav ul li {
    list-style: none;
}

nav ul li a {
    margin-inline: 22px;
    font-size: 20px;
}

ul li {
    font-size: 22px;
}

.main {
    display: flex;
    justify-content: space-between;

}

.main .main_text {
    margin-top: 144px;
    margin-left: 140px;
}

.main_text h1 {
    font-size: 64px;
}

.main_text .top_text {
    color: rgb(3, 136, 136);
}

.main_text button {
    width: 145px;
    height: 40px;
    background-color: rgb(4, 133, 133);
    border: none;
    font-size: 22px;
    color: white;
    margin-top: 24px;
}

.main_text p {
    margin-top: 15px;
    font-size: 18px;
}

.main_text button:hover {
    border: 2px solid rgb(4, 136, 136);
    background-color: transparent;
    color: rgb(4, 136, 136);
}

/* card */
.trend .head h1 {
    text-align: center;
    padding: 33px;
    margin-top: 32px;

}

.head span {
    color: rgb(3, 133, 133);
}

.card {
    display: flex;
    justify-content: center;
}

.card .crd {
    width: 300px;
    height: 500px;
    background-color: white;
    margin-inline: 11px;
}

.crd img {
    width: 100%;
    padding: 22px;
    border-radius: 31px;
}

.crdtext {
    margin-left: 16px;
    padding: 8px;

}

.crdtext button {
    width: 110px;
    height: 33px;
    border: none;
    background-color: rgb(4, 129, 129);
    color: white;
    font-size: 18px;
    margin-top: 11px;
}

.crdtext i {
    color: rgb(255, 149, 0);
}
.blog{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: white;
    margin-inline: 22px;
    border-radius: 11px;
}
.blog:hover{
    transition: 0.6s ease;
    width: 520px;
    height: 320px;
}
.blog img{
    padding: 22px;
    width: 85%;
}
.blogtext{
    padding: 20px;
    margin-top: 33px;

}
/* .blogtext h2{
    font-size: 22px;
} */
.blogtext a{
    width: 120px;
    padding: 4px;
    height: 18px;
    background-color: rgb(4, 136, 136);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    top: 33px;
}
.letter{
    display: flex;
    justify-content: space-between;
    background-color: rgb(2, 2, 66);
    color: white;
    padding: 43px;
    margin-top: 20px;
}
.int{
    display: flex;
}
.int input{
    width: 330px;
    height: 33px;
    outline: none;
    font-size: 18px;
    border: none;
}
.int button{
width: 100px;
height: 33px;
background-color: rgb(2, 173, 173);
color: white;
border: none;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 53px;
}
.footer .footertext{
    margin-inline: 85px;
}
.footertext p{
    margin-top: 11px;
}